{% extends "newsApp/base.html" %}

{% block sitetitle %}Science{% endblock %}

{% block title %}Science{% endblock %}

{% block content %}
<div id="fh5co-main">
    <div class="container">
        {% for science1_news, science1_desc, science1_i, science1_link, science2_news, science2_desc, science2_i, science2_link, science3_news, science3_desc, science3_i, science3_link, science4_news, science4_desc, science4_i, science4_link in science_list %} <div class="row">
        <div id="fh5co-board" data-columns>
            <div class="item">
                <div class="animate-box">
                    <a
                    href="{{science1_link}}"
                    class="fh5co-board-img"
                    title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?"
                    >
                    <img src="{{science1_i}}" alt="" />
                    </a>
                </div>
                <div class="fh5co-desc">
                    {{science1_desc}} {{value | linebreaks}}
                </div>
                </div>

                <div class="item">
                    <div class="animate-box">
                        <a
                        href="{{science2_link}}"
                        class="fh5co-board-img"
                        title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?"
                        >
                        <img src="{{science2_i}}" alt="" />
                        </a>
                    </div>
                    <div class="fh5co-desc">
                        {{science2_desc}} {{value | linebreaks}}
                    </div>
                    </div>

                    <div class="item">
                        <div class="animate-box">
                            <a
                            href="{{science3_link}}"
                            class="fh5co-board-img"
                            title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?"
                            >
                            <img src="{{science3_i}}" alt="" />
                            </a>
                        </div>
                        <div class="fh5co-desc">
                            {{science3_desc}} {{value | linebreaks}}
                        </div>
                        </div>

                        <div class="item">
                            <div class="animate-box">
                                <a
                                href="{{science4_link}}"
                                class="fh5co-board-img"
                                title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?"
                                >
                                <img src="{{science4_i}}" alt="" />
                                </a>
                            </div>
                            <div class="fh5co-desc">
                                {{science4_desc}} {{value | linebreaks}} {% endfor %}
                            </div>
                            </div>
        </div>
        </div>
    </div>
    </div>
    {% endblock %}