{% extends "newsApp/base.html" %}

{% block sitetitle %}Sports{% endblock %}

{% block title %}Sports{% endblock %}


{% block content %}
<div id="fh5co-main">
    <div class="container">
        {% for sports1_news, sports1_desc, sports1_i, sports1_link, sports2_news, sports2_desc, sports2_i, sports2_link, sports3_news, sports3_desc, sports3_i, sports3_link, sports4_news, sports4_desc, sports4_i, sports4_link in sports_list %} <div class="row">
        <div id="fh5co-board" data-columns>
            <div class="item">
                <div class="animate-box">
                    <a
                    href="{{sports1_link}}"
                    class="image-popup fh5co-board-img"
                    title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?"
                    >
                    <img src="{{sports1_i}}" alt="" />
                    </a>
                </div>
                <div class="fh5co-desc">
                    {{sports1_desc}} {{value | linebreaks}}
                </div>
                </div>

                <div class="item">
                    <div class="animate-box">
                        <a
                        href="{{sports2_link}}"
                        class="image-popup fh5co-board-img"
                        title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?"
                        >
                        <img src="{{sports2_i}}" alt="" />
                        </a>
                    </div>
                    <div class="fh5co-desc">
                        {{sports2_desc}} {{value | linebreaks}}
                    </div>
                    </div>

                    <div class="item">
                        <div class="animate-box">
                            <a
                            href="{{sports3_link}}"
                            class="image-popup fh5co-board-img"
                            title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?"
                            >
                            <img src="{{sports3_i}}" alt="" />
                            </a>
                        </div>
                        <div class="fh5co-desc">
                            {{sports3_desc}} {{value | linebreaks}}
                        </div>
                        </div>

                        <div class="item">
                            <div class="animate-box">
                                <a
                                href="{{sports4_link}}"
                                class="image-popup fh5co-board-img"
                                title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?"
                                >
                                <img src="{{sports4_i}}" alt="" />
                                </a>
                            </div>
                            <div class="fh5co-desc">
                                {{sports4_desc}} {{value | linebreaks}} {% endfor %}
                            </div>
                            </div>
        </div>
        </div>
    </div>
    </div>
{% endblock %}