<!DOCTYPE html>
<style>
  h1 {
    text-align: center;
    color: black;
  }

  h3 {
    text-align: center;
    font-family: "Times New Roman";
    font-size: 300px;
  }
</style>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>World News</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="title" style="font-family: Times New Roman">
      <h1>Recent News</h1>
    </div>

    <div class="container">
      {% for news, des, i, link in mylist %}
      <h3>
        {{news}} {{value | linebreaks}}

        <a href="{{link}}">
          <img src="{{i}}" alt="" width="80%" height="50%" />
        </a>
      </h3>

      <description style="font-family: Times New Roman; font-size: 20px"
        >{{des}} {{value | linebreaks}} {% endfor %}</description
      >
    </div>
  </body>
</html>
